
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
}

.card {
    background-color: #1c1c1e;
    padding: 20px;
    padding-top: 45px;
    padding-bottom: 70px;
    border-radius: 10px;
    text-align: center;
    width: 350px; /*300*/
    height: 500px;
  
}

.profile-img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    padding-bottom: 10px;
    object-fit: cover;
}

h1 {
    color: #fff;
    margin: 10px 0 5px;
    font-size: 25px;
    font-weight: 550;
    padding-bottom: 8px;
}

.location {
    color: hsl(75, 94%, 57%);
    margin: 5px 0;
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
}

.description {
    color: #cfcfcf;
    margin: 10px 0;
    font-size: 14px;
}

.buttons {
    margin-top: 20px;
    margin-left: 15px;
}

.btn {
    display: block;
    width: 95%;
    height: 45px;
    padding: 10px;
    margin: 5px;
    font-weight: 700;
    margin-bottom: 17px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    color: #fff;
    background-color: #3a3a3c;
}


.btn:hover{
    background-color: hsl(75, 94%, 57%);
    cursor: pointer;
    color: hsl(0, 0%, 8%);
    transition:.4s ;
  
}

.attribution{
    position: absolute;
    bottom: 0;
    width: 15%;
    padding: 20px;
    text-align: center;
    color: #fff;
}

/* Media Query for iPhone SE */
@media (max-width: 390px) {
    
    .card {
        width: 280px;
        padding: 15px;
        padding-top: 30px;
        padding-bottom: 40px;
    }

    .profile-img {
        width: 70px;
        height: 70px;
    }

    h1 {
        font-size: 20px;
    }

    .location {
        font-size: 12px;
    }

    .description {
        font-size: 12px;
    }

    .buttons {
        margin-top: 15px;
    }

    .btn {
        width: 90%;
        height: 40px;
        margin: 5px auto;
        font-size: 14px;
    }
    
   .attribution {
    display: none;
   }
}

/*fix respooniveness stat!*/